<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - InventoryManagementSystem</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/InventoryManagementSystem.styles.css" asp-append-version="true" />
	<style>
		.hero-section {
			background: linear-gradient(to right, #007bff, #6610f2);
			color: white;
			text-align: center;
			padding: 100px 20px;
		}

			.hero-section h1 {
				font-size: 3rem;
				font-weight: bold;
			}

			.hero-section p {
				font-size: 1.2rem;
				margin-bottom: 20px;
			}


		/* #loginBtn { */
		/* 	padding: 8px 20px; */
		/* 	border: none; */
		/* 	color: white; */
		/* 	border-radius: 4px; */
		/* 	background-color: royalblue; */
		/* 	margin-left:5px; */
		/* 	cursor: pointer; */
		/* } */

		/* #logOutbtn { */
		/* 	padding: 8px 20px; */
		/* 	border: none; */
		/* 	color: white; */
		/* 	border-radius: 4px; */
		/* 	background-color: red; */
		/* 	cursor: pointer;	 */
		/* } */

		/* .reg{ */
		/* 	background-color:green; */
		/* } */

		.drop{
			margin-top:8%;
		}

	</style>
</head>
<body>
	<header style="box-shadow:2px 2px 8px #8f9193">
		<nav class="navbar navbar-expand-sm navbar-light bg-white border-bottom box-shadow mb-3">
			<div class="container-fluid">
				<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
					InventoryManagementSystem
				</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
						aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse justify-content-end" id="navbarNav">
					<ul class="navbar-nav" style="padding:2px 50px;">

						@if (Context.Session.GetString("UserName") == null)
						{
							<li class="nav-item">
								<a id="loginBtn" class="nav-link" style="background-color:royalblue; color: white;  padding: 5px 10px; border-radius: 5px;" asp-controller="Auth" asp-action="userLogin">Login</a>
							</li>
							<li class="nav-item">
								<a id="loginBtn" class="nav-link reg" style="background-color: green; color: white; 	margin-left:14px; padding: 5px 10px; border-radius: 5px;" asp-controller="Auth" asp-action="UserRegister">Register</a>
							</li>
						}
						else
						{
							<li class="nav-item">
								<a class="nav-link text-dark" asp-controller="Vendor" asp-action="Index">Vendor</a>
							</li>
							<li class="nav-item">
								<a class="nav-link text-dark" asp-controller="Customer" asp-action="Index">Customer</a>
							</li>
							<li class="nav-item">
								<a class="nav-link text-dark" asp-controller="Product" asp-action="Index">Product</a>
							</li>
							<li class="nav-item">
								<a class="nav-link text-dark" asp-controller="Category" asp-action="Index">Category</a>
							</li>

							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle d-flex align-items-center" href="#" id="userDropdown" role="button"
								   data-bs-toggle="dropdown" aria-expanded="false">
									@* <img src="https://static.vecteezy.com/system/resources/previews/019/879/186/non_2x/user-icon-on-transparent-background-free-png.png" *@
									@* 	 alt="User" class="rounded-circle dropdown-toggle" width="40" height="40" /> *@
									<span class="ms-2 text-dark fw-bold">@Context.Session.GetString("UserName")</span>
								</a>
								<ul class="dropdown-menu dropdown-menu-end drop" aria-labelledby="userDropdown">
									<li>
										<a class="dropdown-item text-dark" asp-controller="Auth" asp-action="Logout">
											 Logout
										</a>
									</li>
								</ul>
							</li>

						}
					</ul>
				</div>
			</div>
		</nav>
	</header>

	<div class="container">
		<main role="main" class="pb-3">
			@RenderBody()
		</main>
	</div>

	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
